@import '../../../theme/colors.scss';
@import '../../../theme/effects.scss';

.point-box {
    position: absolute;
    width: max-content;
    height: max-content;

    p {
        color: $cool-color;
        padding: 0;
        margin: 0;
        opacity: .2;
    }

    .appear {
        @include effect-pulse(10s, infinite);
    }
}