@import '../../../theme/colors.scss';
@import '../../../theme/screen-size.scss';
@import '../../../theme/effects.scss';

.card-banner {
  height: 100vh;
  min-height: 480px;
  top: 20vh;

  .banner {
    position: relative;
    width: 100%;
    height: 100%;


    .left-content {
      text-align: center;

      p {
        font-family: 'Consolas';
      }

      .pic {
        position: relative;
        text-align: center;
        width: max-content;
        margin: auto;
        @include effect-appear(6s);

        img {
          position: relative;
          width: 50vw;
          height: 50vw;
          max-width: 300px;
          height: 300px;
          min-width: 300px;
          min-height: 300px;
          border-radius: 50%;
          z-index: 2;
          filter: drop-shadow(5px 5px 5px rgb(17, 16, 16));
          filter: grayscale(1);
        }

        .circle {
          position: absolute;
          width: 280px;
          height: 280px;
          top: 20%;
          left: 5%;
          border-radius: 50%;
          border-style: solid;
          border-width: 4px;
          border-color: $cool-color;
          border-style: dotted;
          z-index: 1;
          opacity: .5;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
          @include effect-rotate(6s, infinite, 0s);

          svg {
            @include effect-rotate(2s, infinite, 0s);
          }

          .top {
            position: absolute;
            top: -70px;
            left: 45%;
          }

          .left {
            position: absolute;
            top: 40%;
            left: -70px;
          }

          .right {
            position: absolute;
            top: 40%;
            right: -70px;
          }

          .bottom {
            position: absolute;
            bottom: -70px;
            left: 45%;
          }
        }
      }
    }

    .right-content {
      width: max-content;
      text-align: center;
      margin: auto;

      p {
        font-family: 'Consolas';
      }
    }
  }
}