@import '../../../theme/screen-size.scss';

@media only screen and (max-width: $size-sm) {

    .card-banner {
        top: 0px;
        top: $toolbar-height;

        .right-content {
            margin-top: 50px !important;
        }

        .right-content {
            bottom: 160px;

            p {
                font-size: 20px !important;
            }
        }
    }
}