@import '../../../theme/colors.scss';
@import '../../../theme/effects.scss';

.circle-container {
    @include on-circle($item-count: 4, $circle-size: 10em, $item-size: 20px);

    svg {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        color: $cool-color;
        transition: .15s;

        &:hover,
        &:active {
            filter: grayscale(0);
        }
    }
}