.about-box {
  // height: 100vh;
  display: flex;
  align-items: center;

  .about-us-card {
    // height: 100vh;

    .info-box {}
  }

  .sub-container-info {
    margin-right: 50px;
  }
}