$primary: #d8d7d7;
$p_light:rgb(167, 167, 167);
$p_light: white;
$p_dark: rgb(15, 15, 15); //'#000'

$secondary:#21bbc9;
$s_light: #2adeee;
$s_dark:#198e99;

$text_on_p: rgb(31, 31, 31); //'#ffffff'
$text_on_s: rgb(255, 255, 255); //'#ffffff'
$text_light: rgb(240, 240, 240);
$text_dark: black;
$text_error: rgb(255, 116, 116);

/* light theme colors */
$primary-light: #d8d7d7;
$secondary-light: rgb(167, 167, 167);
$tertiary-light: rgb(105, 105, 105);

/* details */
$warm-color: #00a093;
$cool-color: #05e2d0;

/* shadows */
$shadow-color: #292929;
$shadow-dark: rgba(0, 0, 0, 0.801);
$shadow-light: rgba(238, 238, 238, 0.9);

/* fonts colors */
$dark-text: #303030; //#303030d5
$light-text: #bebebe; //#bebebeef